<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    .btn-pill {
      border-radius: 25px;
      --bs-btn-padding-y: .25rem;
      --bs-btn-padding-x: .5rem;
      --bs-btn-font-size: .75rem;
      margin-right: 5px;
    }
  </style>
</head>

<body class="container">
  <div class="row my-5">
    <h1 class="text-center">Simulasi KPR Fix Berjenjang 🇮🇩</h1>
    <button id="seed" style="display: hidden;">🌱seed</button>

    <hr>

    <form>
      <div class="row mb-3 align-items-center needs-validation" novalidate>
        <label for="price" class="col col-sm-1 col-lg-3 col-form-label">Harga Rumah</label>
        <div class="col col-sm-3">
          <input type="number" class="form-control" id="price" aria-describedby="price" min="0" required>
        </div>
        <div class="col col-sm-3">
          <span class="form-text"></span>
        </div>
      </div>

      <div class="row mb-1 align-items-center">
        <label for="downPayment" class="col col-sm-3 col-lg-3 col-form-label">Down Payment (%)</label>
        <div class="col col-sm-3">
          <input type="number" class="form-control" id="downPayment" aria-describedby="downPayment" min="0" max="100"
            required>
        </div>
        <div class="col col-sm-3">
          <span class="form-text"></span>
        </div>
      </div>
      <div class="row mb-3 align-items-center">
        <span class="col-4 col-sm-3 col-lg-3">&nbsp;</span>
        <div class="col-8 col-sm-9">
          <div class="d-flex mt-2" id="easyInputDownPayment">
            <input class="btn btn-primary btn-pill btn-success" type="button" value="0"></input>
            <input class="btn btn-primary btn-pill btn-success" type="button" value="5"></input>
            <input class="btn btn-primary btn-pill btn-success" type="button" value="10"></input>
            <input class="btn btn-primary btn-pill btn-success" type="button" value="20"></input>
          </div>
        </div>
      </div>

      <div class="row mb-1 align-items-center">
        <label for="totalPeriod" class="col col-sm-3 col-lg-3 col-form-label">Jangka Waktu (tahun)</label>
        <div class="col col-sm-3">
          <input type="number" class="form-control" id="totalPeriod" aria-describedby="totalPeriod" min="0" max="100"
            required>
        </div>
        <div class="col col-sm-3">
          <span class="form-text"></span>
        </div>
      </div>
      <div class="row mb-3 align-items-center">
        <span class="col-4 col-sm-3 col-lg-3">&nbsp;</span>
        <div class="col-8 col-sm-9">
          <div class="d-flex mt-2" id="easyInputPeriod">
            <input class="btn btn-primary btn-pill" type="button" value="10"></input>
            <input class="btn btn-primary btn-pill" type="button" value="15"></input>
            <input class="btn btn-primary btn-pill" type="button" value="20"></input>
            <input class="btn btn-primary btn-pill" type="button" value="25"></input>
          </div>
        </div>
      </div>

      <hr>

      <table class="table table-sm">
        <h3>Bunga Fix</h3>
        <p class="form-text">Masukkan bunga fix bertingkat. Biarkan kosong untuk tingkat yang tidak berlaku.</p>
        <thead>
          <tr>
            <th scope="col" class="col-auto">#</th>
            <th scope="col" class="col-4">Bunga (%)</th>
            <th scope="col" class="col-4">Durasi (tahun)</th>
            <th scope="col" class="col-4">&nbsp;</th>
          </tr>
        </thead>
        <tbody id="fixedInterest">
          <tr>
            <th scope="row">1</th>
            <td><input type="number" class="form-control interest" id="fixedInterest-1" aria-describedby="fixedInterest"
                min="0" max="100"></td>
            <td><input type="number" class="form-control period" id="fixedInterestPeriod-1"
                aria-describedby="fixedInterestPeriod" min="0"></td>
            <td class="align-middle"><span class="form-text"></span></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><input type="number" class="form-control interest" id="fixedInterest-2" aria-describedby="fixedInterest"
                min="0" max="100"></td>
            <td><input type="number" class="form-control period" id="fixedInterestPeriod-2"
                aria-describedby="fixedInterestPeriod" min="0"></td>
            <td class="align-middle"><span class="form-text"></span></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><input type="number" class="form-control interest" id="fixedInterest-3" aria-describedby="fixedInterest"
                min="0" max="100"></td>
            <td><input type="number" class="form-control period" id="fixedInterestPeriod-3"
                aria-describedby="fixedInterestPeriod" min="0"></td>
            <td class="align-middle"><span class="form-text"></span></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><input type="number" class="form-control interest" id="fixedInterest-4" aria-describedby="fixedInterest"
                min="0" max="100"></td>
            <td><input type="number" class="form-control period" id="fixedInterestPeriod-4"
                aria-describedby="fixedInterestPeriod" min="0"></td>
            <td class="align-middle"><span class="form-text"></span></td>
          </tr>
        </tbody>
      </table>

      <table class="table table-sm">
        <h3>Bunga Floating</h3>
        <p class="form-text">Bunga floating berlaku untuk sisa periode setelah periode bunga fix berakhir.</p>
        <thead>
          <tr>
            <th scope="col" class="col-auto">#</th>
            <th scope="col" class="col-4">Bunga (%)</th>
            <th scope="col" class="col-4">Durasi (tahun)</th>
            <th scope="col" class="col-4">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">&nbsp;</th>
            <td><input type="number" class="form-control" id="floatInterest" aria-describedby="floatInterest" min="0"
                max="100"></td>
            <td><input type="number" class="form-control" id="floatInterestPeriod"
                aria-describedby="floatInterestPeriod" disabled></td>
            <td class="align-middle"><span class="form-text"></span></td>
          </tr>
        </tbody>
      </table>

      <div class="text-center">
        <button type="button" class="btn btn-primary" id="calculate">Hitung!</button>
      </div>
    </form>

    <hr>

    <h3>
      Hasil
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#breakdown-container">
        🔎 Lihat Detail per Tahun
      </button>
      <button class="btn btn-light" type="button" id="copyResult">
        📋
      </button>
    </h3>
    <div class="overflow-x-auto">
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col" class="text-end">#</th>
            <th scope="col" class="text-end">Bunga (%)</th>
            <th scope="col" class="text-end">Durasi (bulan)</th>
            <th scope="col" class="bg-warning text-end">Cicilan per bulan (IDR)</th>
            <th scope="col" class="text-end">Total cicilan (IDR)</th>
            <th scope="col" class="text-end">Total cicilan pokok (IDR)</th>
            <th scope="col" class="text-end">Total cicilan bunga (IDR)</th>
          </tr>
        </thead>
        <tbody id="result" class="table-group-divider"></tbody>
      </table>
    </div>

    <div id="breakdown-container" class="collapse mt-3">
      <h3>
        Detail
        <button class="btn btn-light" type="button" id="copyBreakdown">
          📋
        </button>
      </h3>
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col" class="text-end">Tahun</th>
            <th scope="col" class="text-end">Cicilan per tahun (IDR)</th>
            <th scope="col" class="text-end">Cicilan pokok (IDR)</th>
            <th scope="col" class="text-end">Cicilan bunga (IDR)</th>
            <th scope="col" class="bg-warning text-end">Pelunasan (IDR)</th>
            <th scope="col" class="bg-warning text-end">Denda Pelunasan (IDR)</th>
            <th scope="col" class="bg-warning text-end">Sisa pokok (IDR)</th>
          </tr>
        </thead>
        <tbody id="breakdown" class="table-group-divider"></tbody>
      </table>
      <div class="overflow-x-auto">
        <div class="text-center">
          <button type="button" class="btn btn-success" id="recalculate">Hitung Ulang!</button>
        </div>
      </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="copyToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">ℹ️ Notifikasi</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          Berhasil disalin!
        </div>
      </div>
    </div>
  </div>
</body>

<!-- template -->
<script id="result-template" type="text/x-golang-template">
  {{ range $i, $v := .Interests }}
  <tr>
    <th>{{ index $.PeriodRowNum $i }}</th>
    <td class="text-end font-monospace">{{ index $.Interests $i }}</td>
    <td class="text-end font-monospace">{{ index $.Periods $i }}</td>
    <td class="bg-warning text-end font-monospace">{{ index $.PeriodMonthlyInstallment $i }}</td>
    <td class="text-end font-monospace">{{ index $.PeriodSumInstallment $i }}</td>
    <td class="text-end font-monospace">{{ index $.PeriodSumPrincipalInstallment $i }}</td>
    <td class="text-end font-monospace">{{ index $.PeriodSumInterestInstallment $i }}</td>
  </tr>
  {{ end }}
  <tr>
    <td colspan="4" class="text-end"><b>Total</b></th>
    <td class="bg-warning text-end font-monospace">{{ .TotalInstallment }}</td>
    <td class="bg-warning text-end font-monospace">{{ .TotalPrincipal }}</td>
    <td class="bg-warning text-end font-monospace">{{ .TotalInterests }}</td>
  </tr>
</script>

<script id="breakdown-template" type="text/x-golang-template">
  {{ range $i, $v := .YearlyInstallment }}
  <tr>
    <th>{{ index $.YearlyRowNum $i }}</th>
    <td class="text-end font-monospace">{{ $v }}</td>
    <td class="text-end font-monospace">{{ index $.YearlyPrincipalInstallment $i }}</td>
    <td class="text-end font-monospace">{{ index $.YearlyInterestInstallment $i }}</td>
    <td class="text-end font-monospace"><input type="number" class="form-control repayment-input text-end font-monospace" data-year="{{ index $.YearlyRowNum $i }}"></td>
    <td class="text-end font-monospace"></td>
    <td class="text-end font-monospace"></td>
  </tr>
  {{ end }}
</script>


<script src="kpr.js"></script>

</html>